/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */


/*
 * Base structure
 */

html,
body {
  height: 100%;
   background: url(../art/smicro_new/bg_home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
html#contentdisplayed,body#contentdisplayed{
  background: url(../art/smicro_new/bg_home.png) no-repeat center center fixed;
  height: 100%;
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
.cover-heading{
  font-size: 1em;
}
#mainmenu{
  margin-top: 50px;
}
#mainmenu>div{
  padding-left: 0;
  padding-right: 0;
}
#mainmenu > div,#mainmenu a{
  /*display: block;
  height: 170px; 
  width: 170px; 
  border-radius: 170px;
  padding-top: 40px;*/
  transition: background-color 0.5s ease;

}
span.desc_menu_home{
      margin-top: 12px;
    display: block;
    margin-left: -30px;
}
#mainmenu a img{
  margin-top: 20px;
}

#mainmenu a{
   width: 100%;
    display: block;
}
#mainmenu a#browse{
  
}
#mainmenu a#preview{
   
}
#mainmenu #home_createpenelitian:hover,#mainmenu #home_browsepenelitian:hover,#mainmenu #home_previewpenelitian:hover{
  text-decoration: none;
  background-color: rgba(0,0,0,0.8); 
}
#mainmenu span.icon_home{
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
#showcam{margin-top: 20px;}
#createnew_panel{
  margin-top: 300px;
}
#createnew_panel .leftpanel{
  background: #f9f4dd;  
  height: 600px;
  border: 1px solid #b4af9a;

}

#createnew_panel .rightpanel{
  background: #f7f7f7;  
  height: 600px;
  overflow-x: hidden;
}
#createnew_panel{
  text-shadow:none;
  color: #3d3d3d;

}
.wizard_createnew{
  text-align: left;
  width: 80%;
  margin-top: 30px;
}

.contentdisplayed{
  width: 100%;
}
h1.title_createnew{
  color: #d98810;
  text-shadow:none;
  
}
.title_container_createnew{
  border-bottom: 1px solid #dbcc98;
  padding-bottom: 10px;
  padding-top: 20px;
}
#home_previewpenelitian{
  background: #4ca8c6
}
#home_createpenelitian{
  background: #c64451
}
#home_browsepenelitian{
  background: #d3a82d
}

.masthead{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: -270px;
}
.cover-container {
  width: 100%;  
}
.menuhome{
  width: 100%;
}
.mastfoot{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#halamanhome .mastfoot{
  clear: both;
  padding: 0;
  margin: 0;
  float: none;
}
.mastfoot img{
 position: absolute;
    bottom: 20px;
    left: 10px;
}
.mastfoot p{
position: absolute;
    bottom: 25px;
    left: 96px;
    color: #ededed;
    font-size: 0.83em;
    text-align: left;
}

#halamanhome .mastfoot img{
  position: relative;
  bottom: 80px;
  left: 0;
  margin-left: -80px;
}
#halamanhome .mastfoot p{
  position: relative;
  bottom: 0;
  left: -3%;
  top:50px;
  text-align: center;
  color: #b2b2b2;
  
}
html#contentdisplayed .mastfoot p{
  color: #5e5e5e;
  text-shadow:none;
  text-align: right;
}
.navbarcaripenelitian{
  background: rgba(255,255,255,0.9); 
  padding-top: 25px;
  border-bottom: 1px solid #000;
}
.logosmallleft{
  top:10px;
  left: 80px;
  position: absolute;
}
.mainmenuleft span.icon{
 top:17px;
  left: 30px;
  position: absolute; 
  text-shadow: none;
  font-size: 1.5em;
  color: #000;
}
.mainmenuleft:hover{
  color: #ef4c5d;
}

.leftmenu_circle{
  width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 70px;
    display: block;
    margin-left: 55px;
    margin-bottom: 10px;
}

#nav_left_stick ul{
  margin-top: 60px;
}
#nav_left_stick ul li{
  display: block;
  margin-bottom: 30px;
}
#nav_left_stick ul li a:hover{
  text-decoration: none;
}


#mainmenu a#makenew{
   background-color: rgba(255,21,110,0.8); 
}
#mainmenu a#browse{
   background-color: rgba(0,228,255,0.8); 
}
#mainmenu a#preview{
  background-color: rgba(253,215,52,0.8); 
   
}
#mainmenu a#makenew:hover,#mainmenu a#browse:hover,#mainmenu a#preview:hover{
  text-decoration: none;
  background-color: rgba(0,0,0,0.8); 
}
#mainmenu span.icon_home{
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
#mainmenu{
  margin-top: 50px;
}
#mainmenu a{
  display: block;
  height: 170px; 
  width: 170px; 
  border-radius: 170px;
  padding-top: 40px;
  transition: background-color 0.5s ease;
}
.container#navfilter{
  margin-left: 40px;
}
.navbarleftskope{
  float: right;
  width: 380px;
  margin-top: -20px;
}
.navbarleftskope li{
  list-style-type: none;
}
.navbarleftskope li a{
  margin-left: 10px;
  display: inline-block;
}
#filemanger_left_ico,#preview_left_ico{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px 10px 10px 20px;
  position: absolute;
  right: 0;
  bottom: 20px;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
#showtoolsserver,#showtoolsserver2{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px 10px 10px 20px;
  position: absolute;
  right: 0;
  top: 120px;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
#showtoolsserver2{
  top:180px;
}
#filemanger_left_ico span,#preview_left_ico span,#showtoolsserver span,#showtoolsserver2 span{
  font-size: 0.7em;
}
#filemanger_left_ico:hover,#preview_left_ico:hover,#showtoolsserver:hover,#showtoolsserver2:hover{
  color: #000;
  background-color: rgba(255,255,255,1);
  text-shadow:none;
}

#preview_left_ico{
  bottom: 80px;
}
#buttoneditontop{
 
}
#prevpage{
  background: #384047;
}
#prevpage h3{
  margin-bottom: 10px;
  color: #fff;
}


.buttonstartserver{
  background:#D4B93C;
  display: inline-block;
  width: 230px;
  height: 230px;
  border-radius: 230px;
  cursor: pointer;
  margin-top:20px;
  border: 2px solid #fff;
}
.buttonstartserver img{
  margin-top:45px;
}
.buttonstartserver span{
  font-size: 1.3em;
  font-weight: normal;
}
.buttonstartserver:hover{
  background: #000;
  border: 2px solid #ED3A74;
}
#toolslist{
  position: fixed;
  bottom: 15px;
  padding-top: 5px;
  box-shadow: 6px 0 0 0 rgba(0, 0, 0, .1);
  padding-left: 5px;
  border-top: 1px solid #d8d8d8;
}
.heading_stick{
  position: fixed;
  top:0;
  width: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
  border-bottom: 1px solid #d8d8d8;
}

.heading_stick h3{
  font-size: 1.2em;
  color: #5e5e5e;
  text-shadow:none;

  display: block;
  
  padding-bottom: 10px;
  
}
#nav_left_stick2 .heading_stick h3{
  padding-bottom: 0;
  margin-bottom: 5px;
}
#nav_left_stick2 .heading_stick span.countuseronline{
  padding-bottom: 13px;
  display: block;
  font-size: 1em;
  text-shadow:none;
  color: #8f8f8f;
}
.removestickbar,.removestickbar2{
  font-size: 0.9em;
  color: #5e5e5e;
  text-shadow:none;
  position: absolute;
  right: 30px;
  top:23px;
  cursor: pointer;
}
.removestickbar2{
  right: 20px;
}
.contentstick,.contentstick2{
  margin-top: 60px;
  padding-top: 10px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-right: 20px;
  padding-left: 20px;
  color: #585858;
  text-shadow:none;
  text-align: left;
  font-size: 0.9em;

}

#nav_left_stick{
  position: absolute;
  top: 0;
  right: -265px;
  /*left: 0;*/
  width: 250px;
  display: block;
  background: #fff;
  height: 700px;
  z-index: 10000;
  border-left: 1px solid #000;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

#nav_left_stick2{
  position: absolute;
  top: 0;
  right: -265px;
  /*left: 0;*/
  width: 250px;
  display: block;
  background: #fff;
  height: 700px;
  z-index: 10000;
  border-left: 1px solid #000;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
.userconnceted{
  width: 100%;
  height: 100px;
  background: #00D5F2 url('../art/smicro/bg_white_skope.png')no-repeat 10% 50%;
  padding: 10px;
}
.frame-userconnceted{
  width: 100%;
  height: 120px;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;

}

#rooms-list{
  margin: 0 auto;
  margin-top:80px;
  text-align: center;
}
span.username_connected{
  font-weight: bold;
  display: block;
  font-size: 1.3em;
  padding-top: 10px;

}
.askjoined{
  width: 90%;
  height: 100px;
  z-index: 2;
  position: absolute;
  display: block;
  background: rgba(228,32,75,0.6);
  font-size: 1em;
}
.askjoined .btn{
  margin-top: 50px;
  font-size: 11px;
}
#camera_container,#videocontainer{
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-top: 20px;
  float: left;
}
.camera_title{
  font-size: 1.5em;

}
#camera_container #video_server{

}
.videopositiontwo {
  
  margin-right: 20px;
}
#video_client {
  
}

#video_server.fiftyview .video-container{
  text-align: right;
}
#video_server.fiftyview{
  margin-right: 20px;
}
#video_client.fiftyview .video-container{
  text-align: left;
}

#video_server h2.camera_title{

  
}
#video_client h2.camera_title{
    
}
.viewmodebtn{
  clear: both;
  float: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  display: block;
}
.divinserted{
  float: left;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 7px;
  width: 100%;
  font-family: Helvetica;
  font-size: 1em;

}
.contentstick a,.contentstick a:focus,.contentstick a:hover{
  color: #808080;
}

.divinserted span.iconstatus{
  float: left;
  margin-right: 7px;
  display: inline-block;
  color: #00D6F2;
}
.divinserted span.status{
  color: #808080
}

#video_server.onlyone video {
    object-fit: fill;
    width: 50%;
}


#video_client.showtwo video ,#video_server.showtwo video {
    object-fit: fill;
    width: 80%;
}
.videopositionone .video-container{
  text-align: left;
}
.videopositiontwo .video-container{
 text-align: right; 
}
.videocontainerclient .videopositionone{
 text-align: left; 
}

.videocontainerclient .videopositionone h2{
 margin-left: 350px;
}


.videocontainerclient .videopositiontwo{
 text-align: right; 
}

.videocontainerclient .videopositiontwo h2{
 margin-right: 100px;
}
.videocontainerclient #video_client.fiftyview{
  text-align: left;
}

.videocontainerclient #video_client.fiftyview h2{
  margin-left: 200px;
}
.videocontainerclient #video_server.fiftyview{
  text-align: right;
}

.videocontainerclient #video_server.fiftyview h2{
  margin-right: 200px;
}
.bubblesnotif{
  width: 20px;
  height: 20px;
  background: red;
  display: block;
  border-radius: 20px; 
  position: absolute;
  top:-5px;
  right: 130px;
  color: #fff;
  padding-top: 3px;
}
.bubblesnotif.null{
  background: gray;
}
.bubblesnotif_user{
  width: 20px;
  height: 20px;
  background: red;
  display: block;
  border-radius: 20px; 
  position: absolute;
  top:-5px;
  right: 140px;
  color: #fff;
  padding-top: 3px;
}
#autosize_ref,#autosize_ref_off{
  position: absolute;
  top: 10px;
  left: 10px;
  margin-bottom: 10px;

}

