/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
   background: url(../art/smicro_new/bg_home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
html#contentdisplayed,body#contentdisplayed{
  background: url(../art/smicro_new/bg_home.png) no-repeat center center fixed;
  height: 100%;
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
.cover-heading{
  font-size: 1em;
}
#mainmenu{
  margin-top: 50px;
}
#mainmenu>div{
  padding-left: 0;
  padding-right: 0;
}
#mainmenu > div,#mainmenu a{
  /*display: block;
  height: 170px; 
  width: 170px; 
  border-radius: 170px;
  padding-top: 40px;*/
  transition: background-color 0.5s ease;

}
span.desc_menu_home{
      margin-top: 12px;
    display: block;
    margin-left: -30px;
}
#mainmenu a img{
  margin-top: 20px;
}

#mainmenu a{
   width: 100%;
    display: block;
}
#mainmenu a#browse{
  
}
#mainmenu a#preview{
   
}
#mainmenu #home_createpenelitian:hover,#mainmenu #home_browsepenelitian:hover,#mainmenu #home_previewpenelitian:hover{
  text-decoration: none;
  background-color: rgba(0,0,0,0.8); 
}
#mainmenu span.icon_home{
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
#showcam{margin-top: 80px;}
#createnew_panel{
  margin-top: 300px;
}
#createnew_panel .leftpanel{
  background: #f9f4dd;  
  height: 600px;
  border: 1px solid #b4af9a;

}

#createnew_panel .rightpanel{
  background: #f7f7f7;  
  height: 600px;
  overflow-x: hidden;
}
#createnew_panel{
  text-shadow:none;
  color: #3d3d3d;

}
.wizard_createnew{
  text-align: left;
  width: 80%;
  margin-top: 30px;
}

.contentdisplayed{
  width: 100%;
}
h1.title_createnew{
  color: #d98810;
  text-shadow:none;
  
}
.title_container_createnew{
  border-bottom: 1px solid #dbcc98;
  padding-bottom: 20px;
  padding-top: 20px;
}
#home_previewpenelitian{
  background: #4ca8c6
}
#home_createpenelitian{
  background: #c64451
}
#home_browsepenelitian{
  background: #d3a82d
}

.masthead{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: -270px;
}
.cover-container {
  width: 100%;  
}
.menuhome{
  width: 100%;
}
.mastfoot{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#halamanhome .mastfoot{
  clear: both;
  padding: 0;
  margin: 0;
  float: none;
}
.mastfoot img{
 position: absolute;
    bottom: 20px;
    left: 10px;
}
.mastfoot p{
position: absolute;
    bottom: 25px;
    left: 96px;
    color: #ededed;
    font-size: 0.83em;
    text-align: left;
}

#halamanhome .mastfoot img{
  position: relative;
  bottom: 80px;
  left: 0;
  margin-left: -80px;
}
#halamanhome .mastfoot p{
  position: relative;
  bottom: 0;
  left: -3%;
  top:50px;
  text-align: center;
  color: #b2b2b2;
  
}
html#contentdisplayed .mastfoot p{
  color: #5e5e5e;
  text-shadow:none;
  text-align: right;
}
.navbarcaripenelitian{
  background: rgba(255,255,255,0.9); 
  padding-top: 25px;
  border-bottom: 1px solid #000;
}
.logosmallleft{
  top:10px;
  left: 80px;
  position: absolute;
}
.mainmenuleft span.icon{
 top:17px;
  left: 30px;
  position: absolute; 
  text-shadow: none;
  font-size: 1.5em;
  color: #000;
}
.mainmenuleft:hover{
  color: #ef4c5d;
}
#nav_left_stick{
  position: absolute;
  top: -17px;
  left: -230px;
  /*left: 0;*/
  width: 180px;
  display: block;
  background: #000;
  height: 700px;
  z-index: 10000;
  border-right: 1px solid #000;
}
.leftmenu_circle{
  width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 70px;
    display: block;
    margin-left: 55px;
    margin-bottom: 10px;
}

#nav_left_stick ul{
  margin-top: 60px;
}
#nav_left_stick ul li{
  display: block;
  margin-bottom: 30px;
}
#nav_left_stick ul li a:hover{
  text-decoration: none;
}


#mainmenu a#makenew{
   background-color: rgba(255,21,110,0.8); 
}
#mainmenu a#browse{
   background-color: rgba(0,228,255,0.8); 
}
#mainmenu a#preview{
  background-color: rgba(253,215,52,0.8); 
   
}
#mainmenu a#makenew:hover,#mainmenu a#browse:hover,#mainmenu a#preview:hover{
  text-decoration: none;
  background-color: rgba(0,0,0,0.8); 
}
#mainmenu span.icon_home{
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
#mainmenu{
  margin-top: 50px;
}
#mainmenu a{
  display: block;
  height: 170px; 
  width: 170px; 
  border-radius: 170px;
  padding-top: 40px;
  transition: background-color 0.5s ease;
}
.container#navfilter{
  margin-left: 40px;
}
.navbarleftskope{
  float: right;
  width: 380px;
  margin-top: -20px;
}
.navbarleftskope li{
  list-style-type: none;
}
.navbarleftskope li a{
  margin-left: 10px;
  display: inline-block;
}
#filemanger_left_ico{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px 10px 10px 20px;
  position: absolute;
  right: 0;
  bottom: 20px;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
#filemanger_left_ico span{
  font-size: 0.7em;
}
#filemanger_left_ico:hover{
  color: #000;
  background-color: rgba(255,255,255,1);
  text-shadow:none;
}